* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}


.cont {
    display: flex;
    width: 50vw;
    height: 80vh;
    border: solid black 1px;
    justify-content: center;
}

div:not(.cont){
    width: 30rem;
    height: 30rem;
    margin: 2rem;
}

#case1 {
    background-color: lightcoral;
    align-self: center;
}

#case2 {
    background-color: chocolate;
    align-self: center;
}